.DS_Store
DINO_model/ckpts/*
DINO_model/dino_test_500
DINO_model/dinoresult
DINO_model/imagetest
DINO_model/__pycache__/*.pyc
__pycache__/*.pyc
dino_django/dino_django/__pycache__/*.pyc
DINO_model/image.jpeg