<!doctype html>
<html>
  <head>
    <style>
      #columns{
        column-count : 3
      }
      #columns figure{
        display: inline-block;
        border:1px solid rgba(0,0,0,0.2);
        margin:0;
        margin-bottom: 15px;
        padding:10px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);;
      }
      #columns figure img{
        width:100%;
      }
      #columns figure figcaption{
        border-top:1px solid rgba(0,0,0,0.2);
        padding:10px;
        margin-top:11px;
      }
    </style>
  </head>
  <body>
    <div id="columns">
      <figure>
        <img src="/templates/images/monstera.jpg">
        <figcaption>monstera</figcaption>
      </figure>

      <figure>
        <img src="/templates/images/alocasia.jpg">
        <figcaption>alocasia</figcaption>
      </figure>

      <figure>
        <img src="/templates/images/adiantum.jpg">
        <figcaption>adiantum</figcaption>
      </figure>

      <figure>
        <img src="/templates/images/aralia.jpg">
        <figcaption>aralia</figcaption>
      </figure>

      <figure>
        <img src="/templates/images/draco.jpg">
        <figcaption>draco</figcaption>
      </figure>

      <figure>
        <img src="/templates/images/orange_jasmine.jpg">
        <figcaption>orange_jasmine</figcaption>
      </figure>

      <figure>
        <img src="/templates/images/palm.jpg">
        <figcaption>palm</figcaption>
      </figure>

      <figure>
        <img src="/templates/images/rubbertree.jpg">
        <figcaption>rubbertree</figcaption>
      </figure>

      <figure>
        <img src="/templates/images/scandiamos.jpg">
        <figcaption>scandiamos</figcaption>
      </figure>
    </div>


  </body>
</html>
